* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  letter-spacing: 2px;
  font-weight: bolder;
}
.App {
  padding-top: 90px;
  text-align: center;
  background-color: aliceblue;
  height: 100vh;
  width: 100vw;
  overflow-y: scroll;
}
.App header h1 {
  font-size: 45px;
  font-family: Arial, Helvetica, sans-serif;
  color: lightsteelblue;
  font-style: italic;
}
.todo {
  padding: 5px;
}
.todo li,
button {
  margin-left: 5px;
}
.todo-item {
  display: inline-block;
}
.completed {
  text-decoration: line-through;
  opacity: 0.5;
}
.todo-input {
  border: 2px solid lightblue;
  width: 200px;
  border-radius: 5px;
  line-height: 20px;
  margin-bottom: 10px;
  padding-left: 10px;
  color: lightslategray;
}
.todo-button {
  width: 25px;
  border: 2px solid lightblue;
  color: lightsteelblue;
  font-size: 20px;
  border-radius: 50%; 
  background-color: whitesmoke;
}
.filter-todo {
  border: 2px solid lightblue;
  width: 150px;
  height: 30px;
  border-radius: 10px;
  color: lightsteelblue;
}
.todo {
  border: 2px solid lightblue;
  width: 400px;
  margin: 10px auto;
  overflow-x: scroll;
  border-radius: 10px;
  color: lightsteelblue;
}
.check, .delete {
  border: 1px solid lightblue;
  padding: 5px;
  color: lightsteelblue;
  border-radius: 5px;
  background-color: aliceblue;
}